{% extends "_html5.html" %}

{% block header %}
    <div id="header">
        <table width="100%">
            <tr>
                <td><a href="/"><img src="/images/logo.png" border="0" /></a></td>
                <td align="right">
                    <p>{% if user %}{{ user }} | <a href='/logout'>Log out</a>{% else %}<a href='/login'>Sign in</a>{% endif %}</p>
                    <br />
                    
                    <p><a href="/add">Add Snippet</a></p>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}