{% extends "base.html" %}

{% block main %}
    <h2>Admin - Comment</h2>
    <p>Author: <a href="https://appengine.google.com/datastore/explorer?submitted=1&app_id=android-snippets&viewby=gql&query=SELECT+*+FROM+InternalUser+WHERE+__key__+%3D+KEY('{{ comment.userprefs.key }}')&namespace=&options=Run+Query" target="_blank">{{ comment.userprefs.nickname }}</a></p>
    <p>Snippet: <a href="/{{ comment.snippet.slug1 }}">{{ comment.snippet.title }}</a></p>
    <form action="/admin/comment/{{ comment.key }}" method="post">
    Body:<br>
    <textarea name='msg' cols='60' rows='10'>{{ comment.comment }}</textarea>
    <br>
    <br>
    <input type='submit' name='delete' value='delete' />
    <input type='submit' name='update' value='update' />
    </form>
{% endblock %}