#main { padding:20px; }

#header {
    background: #30587C;
    padding:6px 20px;
    color:white;
}

#header a {
    color:white;
    text-decoration:none;
}

#header a {
    text-decoration:underline;
}

#header img {
    margin-right:30px;
}

h1 {
    font-size:26px;
    margin-bottom:10px;   
}

h2 {
    font-size:22px;
    margin-bottom:6px;   
}

p {
    margin-bottom:6px;
}