body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #333;
}

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  padding: 10px 0px 10px 10px;
  border:1px solid lightgray;  
}

a { color: #0073EA; }

b { font-weight:bold; }
hr { border-color: #DFDFDF; margin:20px 00px; }
h1 {
    font-size:20px;
    margin-bottom:8px;   
}
h1 a { color:#333; text-decoration:none; }
h1 a:hover { color:#111; }

h2 {
    color:#444;
    font-size:18px;
    margin-bottom:10px;   
}

p {
    margin-bottom:8px;
}

.btn_small .ui-button-text { padding:0.2em 0.8em; }
.ui-combobox-button { font-size:10px; }
.ui-autocomplete-input { line-height:20px; padding:2px 4px; }
.ui-alert-dismiss { float:right; margin-right:10px; font-weight:bold; }
.ui-alert-dismiss a { text-decoration:none; }

#main { padding-top:20px; width:800px; margin:auto; }

#header {
    background: #30587C;
    padding:6px 20px;
    color:white;
}

#header a {
    color:white;
    text-decoration:none;
}

#header a {
    text-decoration:underline;
}

#header img {
    margin-right:30px;
}


#comments {
    margin-top:20px;
}

/* Adding New Snippets */
#snippet_new {
   margin-top:20px;
}

#snippet_new .border {
    border:1px solid lightgray;
}

#snippet_new #title {
    width:500px;
    height:20px;
    padding:0px 2px;
    font-size:14px;
}

/* Input descriptions for forms */
.inputinfo {
    font-size:14px;
}

#snippet_new #code {
}

#snippet_new #addtag #autocomplete {
    width:160px; 
    height:18px;
}

#snippet_new #taglist {
    min-height:20px;   
}

#snippet_new .c1 {
    padding-right:30px;
    border-right:1px solid lightgray;
}
#snippet_new .c2 {
    padding-left:30px;
    padding-top:12px;
}
#snippet_new .c1 .input {
    border:1px solid lightgray;
    width:500px;
}
#snippet_new .c2 .input {
    border:1px solid lightgray;
}


/* View snippet */
#snippet_view #comments { 
    margin-top:50px;
}

#snippet_view #code { 
    margin-left:-10px; /* fix for syntax highlighter spacing */
}


.envelope {
border-bottom: 1px solid #BEDCE7;
border-left: 1px solid #BEDCE7;
border-right: 1px solid #BEDCE7;
border-top: 1px solid #BEDCE7;
padding: .7em .7em .7em .7em;
background: #EAF2F5 url(/images/bg_gradient.gif) 0 100% repeat-x;
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0px;
background-position-y: 100%;
background-origin: initial;
background-clip: initial;
background-color: #EAF2F5;
overflow: hidden;
}

/* Styles for the tools */

.dp-highlighter .tools
{
    float:right;
	border-left: 0px solid #6CE26C;
    border-bottom: 1px solid #CFCFCF;
    padding-bottom:4px;	
    padding-left:10px;

	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	/*position:absolute;*/
}

.code_toolbox {
padding: 0 5px;
height: 33px;
line-height: 33px;
font-size: 12px;
color: #333;
background: url(/images/file_head.gif) 0 0 repeat-x #EEE;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
border-bottom: 1px solid #CCC;
overflow: hidden;
}



/* snippet vote button */
#snippet_points {
    width:50px;
    font-size:10px;
    padding-right:14px;
    float:left;
    border-right:1px solid #EFEFEF;    
}
 
#snippet_points .votes {
    border:1px solid #DDD;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-width:1px 1px 0;
    color:#666666;
    font-size:100%;
    padding:4px 0 4px 0px;
    text-align:center;
    text-transform:lowercase;
}

#snippet_points .votes em {
    color:#333333;
    display:block;
    font-size:200%;
    font-style:normal;
    font-weight:bold;
    letter-spacing:-1px;
    margin-bottom:-0.1em;
}

#snippet_points .vote {
    position:relative;
}

#snippet_points .vote a.teaser {
    -moz-border-radius-bottomleft:2pxem;
    -moz-border-radius-bottomright:2pxem;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    background-color:#F6F6F6;
    display:block;
    font-size:120%;
    font-weight:bold;
    letter-spacing:0px;
    line-height:0.8;
    padding:4px 0;
    text-align:center;
    text-transform:lowercase;
    text-decoration:none;
    border:1px solid #DDD;
    border-top:1px solid #EEE;
}

#snippet_points .vote a:hover {
    background-color:#0066CC;
    text-decoration:none;
    color:#FFFFFF;
    opacity:1;
}

#snippet_points .vote a.selected {
background:#F4940C;
color:#FFF;
}