html, body, #container { height:100%; }
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #333;
}

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
white-space: pre; 
  padding: 10px 0px 10px 10px;
  border:1px solid lightgray;  
}

a { color: #0073EA; text-decoration:none; }
a:hover { text-decoration:underline; }

i, em { font-style:italic; }
blockquote { margin-left:28px; }

b { font-weight:bold; }
hr { border-color: #DFDFDF; margin:12px 00px; }
h1 {
    font-size:20px;
    margin-bottom:2px;   
}
h1 a { color:#333; text-decoration:none; }
h1 a:hover { color:#111; }

h2 {
    color:#444;
    font-size:18px;
    margin-bottom:2px;   
}

h3 { 
    font-size:110%;
    margin-top:16px;
    color:#555;
}

p {
    margin-bottom:8px;
}

ul, ol { margin-bottom:6px; }

td, th { padding:2px 10px; text-align:left; }
.padX td { padding:8px 8px; vertical-align:middle; }
.padX input[type=text], .padX textarea { 
    padding:3px 6px;
    border:1px solid lightgray;
    border-radius:2px; 
}

#fdbk_tab { margin-top:160px; }

.btn_small .ui-button-text { padding:0.2em 0.8em; }
.ui-combobox-button { font-size:10px; }
.ui-autocomplete-input { line-height:20px; padding:2px 4px; }
.ui-alert-dismiss { float:right; margin-right:10px; font-weight:bold; }
.ui-alert-dismiss a { text-decoration:none; }

.ui-dialog { padding:0px; }
.ui-dialog .ui-dialog-titlebar { padding: .2em 0.8em; }
.ui-dialog .ui-dialog-title { font-size:12px; }

.ui-widget-content .ui-icon {
    background-image: url(/images/ui-icons_0073ea_256x240.png);
}

#main { padding-top:20px; padding-left:20px; min-height:500px;/* width:800px; margin:auto; */ }

#footer {
    padding-top:100px;
}

#header {
    background: #30587C;
    padding:6px 20px 6px 20px;
    color:white;
}

#header a {
    color:white;
    text-decoration:none;
}

#header a:hover {
    text-decoration:underline;
}

#header img {
    margin-right:30px;
}

#header .separator {
    padding:0px 3px;
    color:lightgray;
    font-size:10px;
}

#header .headinfos {
    padding-top:0px;
    padding-right:24px;
    float:right;
}
#header .search {
    float:right;
}
#header .search input {
    border:1px solid gray; padding:0px 0px 1px 3px;
}
#header .nick { font-size:15px; padding-right:3px; font-weight:bold; }
#header .rep { font-size:14px; color:lightgreen; color:#97C03D; }



#subheader {
    border-bottom:1px solid lightgray;    
}

#subheader ul {
    display:block;
    float:left;
    font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;

line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;

}
#subheader li {
    font-size:11px;
    float:left;
    height: 20px;

    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;    
    
    width:74px;
    text-align:center;
    
    border-right:1px solid lightgray;
}

#subheader li a {
    display:block;
    color:#666;
}
#subheader li a:hover {
    color: #0073EA; 
    text-decoration:none;    
}


.snippetlist {
    margin:6px 0px 6px 10px;
    color:gray;
}

#snippetlist .snippetlist {
    width:700px;
}

.snippetlist .even {
    background:#E6EFD1;
}

.snippetlist td a {
    display:block;
}
.snippetlist td {
    padding:2px 10px;
}


#comments {
    margin-top:20px;
}

/* Adding New Snippets */
#snippet_new {
   margin-top:20px;
}

#snippet_new .border {
    border:1px solid lightgray;
}

#snippet_new #title {
    width:500px;
    height:20px;
    padding:0px 2px;
    font-size:14px;
}

#snippet_new #markdown_info {
    margin-top:40px;
    width:200px;
    padding:0px 2px;
    font-size:13px;
}

/* Input descriptions for forms */
.inputinfo {
    font-size:14px;
}

#snippet_new #code {
}

#snippet_new #addtag #autocomplete {
    width:160px; 
    height:18px;
}

#snippet_new #taglist {
    min-height:20px;   
}

#snippet_new .c1 {
    padding-right:30px;

}
#snippet_new .c2 {
    padding-left:30px;
    padding-top:12px;
}
#snippet_new .c1 .input {
    border:1px solid lightgray;
    width:500px;
}
#snippet_new .c2 .input {
    border:1px solid lightgray;
}


/* 
   View snippet 
   ============
*/

#snippet_view #code { 
    margin-left:-10px; /* fix for syntax highlighter spacing */
    margin-top:0px;
    margin-bottom:100px;
}

#snippet_view #subtitle {
   margin-bottom:14px;
   color:gray;
   font-size:11px;
}

#snippet_view #subtitle a {
   color:gray;
   text-decoration:none;
}

#snippet_view #subtitle a:hover {
   color:gray;
   text-decoration:underline;
}


#snippet_view .sidebar a.ui-button {
   width:80px;
}
#snippet_view .sidebar a.ui-widget {
   color:#666;
}
#snippet_view .sidebar a.ui-state-hover {
   color:white;
}

#snippet_view .sidebar {
    float:right; 
    width:170px; 
    margin-left:30px; 
    margin-right:20px; 
/*
    border-left:1px solid #DFDFDF;
    border-top:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    padding-top:12px;
    padding-bottom:4px;
*/    
    border-top-left-radius:4px;     
    border-bottom-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-bottomleft:4px;   
          
}

#snippet_view .sidebar p {
}

#dialogtable td, #dialogtable th { text-align:left; padding:2px 6px;  font-size:12px; }
#dialogtable tbody tr:hover { background:#DFD; cursor:pointer; }

#dialog_signin a { text-decoration:none; color:#0073EA; }
#dialog_signin a:hover { text-decoration:underline; }

/* Comments */
#snippet_view #comments { 
    margin-top:50px;
}

#snippet_view #comment_thread { 
    margin-top: 10px;
}

#snippet_view #comment_thread .comment {
    border:1px solid lightgray;
    border-radius:4px;
    width:500px;
    margin-bottom:10px; 
}

#snippet_view #comment_thread .comment .header {
    margin-bottom:4px;
    padding:4px 6px;
    border-bottom:1px solid lightgray;
}
#snippet_view #comment_thread .comment .header a {
    text-decoration:none;
}

#snippet_view #comment_thread .comment .date {
    float:right;
}

#snippet_view #comment_thread .comment .body {
    padding:2px 6px 6px 6px;
}
/* Edit mode */
#edit_title {
}

#edit_title input {
  border:1px solid #DDD;
  border-radius:2px;
  padding:2px;
}

#edit_code {
  margin-top:10px;
  margin-left:0.7em;
  margin-right:0.7em;
  margin-bottom:20px;
}


#snippet_view #editbox {
    background:white;
    width:170px;
    height:500px;
    position:absolute;
}

#snippet_view #editbox a {
}

.envelope {
/*
border-bottom: 1px solid #BEDCE7;
border-left: 1px solid #BEDCE7;
border-right: 1px solid #BEDCE7;
border-top: 1px solid #BEDCE7;
padding: .7em .7em .2em .7em;
background: #EAF2F5 url(/images/bg_gradient.gif) 0 100% repeat-x;
background-color: #EAF2F5;
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0px;
background-position-y: 100%;
background-origin: initial;
background-clip: initial;
*/
overflow: hidden;
margin-bottom:20px;
}

/* Styles for the tools */
.dp-highlighter .tools
{
    float:right;
	border-left: 0px solid #6CE26C;
    border-bottom: 1px solid #CFCFCF;
    padding-left:10px;
    padding-bottom:2px;	
    margin-bottom:4px;
    width:120px;	

	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	/*position:absolute;*/
}



/* snippet vote button */
#snippet_points {
    width:50px;
    font-size:10px;
    padding-right:14px;
    margin-left:10px;    
}
 
#snippet_points .votes {
    border:1px solid #DDD;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-width:1px 1px 0;
    color:#666666;
    font-size:100%;
    padding:4px 0 4px 0px;
    text-align:center;
    text-transform:lowercase;
}

#snippet_points .votes em {
    color:#333333;
    display:block;
    font-size:28px;
    font-style:normal;
    font-weight:bold;
    letter-spacing:-1px;
    margin-bottom:-0.1em;
}

#snippet_points .vote {
    position:relative;
}

#snippet_points .vote .teaser {
    -moz-border-radius-bottomleft:2pxem;
    -moz-border-radius-bottomright:2pxem;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    background-color:#F6F6F6;
    display:block;
    font-size:120%;
    font-weight:bold;
    letter-spacing:0px;
    line-height:0.8;
    padding:4px 0;
    text-align:center;
    text-transform:lowercase;
    text-decoration:none;
    border:1px solid #DDD;
    border-top:1px solid #EEE;
}

#snippet_points .vote a:hover {
    background-color:#0066CC;
    text-decoration:none;
    color:#FFFFFF;
    opacity:1;
}

#snippet_points .vote a.selected {
background:#F4940C;
color:#FFF;
}




.tagcloud {
    max-width:740px;
    margin:20px;
}