<div id="header_container">
    <div id="header">
        <div style="float:right; text-align:right;">
            <div class='headinfos'>
                {% if prefs %}
                    <a href="/profile" class='nick'>{{ prefs.nickname }}</a> <span class='rep'>{{ prefs.points }}</span>
                {% else %}<b><a href='/login'>sign in</a></b> 
                {% endif %}
                <span class='separator'>|</span> 
                <a href='/about'>about</a> 
                <span class='separator'>|</span> 
                <a href='javascript:feedback()'>feedback</a> 
                <span class='separator'>|</span> 
                {% comment %}{% if prefs %}<a href='/logout'>Sign out</a>{% endcomment %}

                <a href="http://twitter.com/#!/androidsnippets" target="_blank" title="@androidsnippets"><img src="/images/twitter.png" width="16" height="16" style="margin-bottom:-4px;" /></a> 
                <span class='separator'></span> 
                <!--<a href="http://www.facebook.com/sharer.php?u=http://www.androidsnippets.com" target="_blank" title="Share on Facebook"><img src="/images/fb.png" width="16" height="16" style="margin-bottom:-4px;" /></a> 
                <span class='separator'></span> --> 
                <a href="http://feeds.feedburner.com/AndroidSnippetsLatest" target="_blank" title="Feed of New Snippets"><img src="/images/feed.png" width="16" height="16" style="margin-bottom:-4px;" /></a> 
            </div>

            <div style="clear:both;"></div>
                    
            <form action="/search">
                <p>
                    <span style=""><b><a href="/add"><small>Add Snippet</small></a></b>
                    <span class='separator'> | </span></span> 
    
                    <input type='text' name='q' id="q" title='enter a search term and press enter' value="{{ q }}" />
                    {% if not q %}<script>document.getElementById("q").value = "search";</script>{% endif %}
                </p>  
            </form>
        </div>

        <div>
            <a href="/"><img src="/images/logo.png" border="0" height="56" width="243" /></a>
        </div>
    </div>
</div>


<div id="subheader">
    <ul>
        <li style="border-left:1px solid lightgray;"><a href="/new" title="New Snippets">New</a></li>
        <li><a href="/active" title="Recently Active Snippets">Active</a></li>
        <li><a href="/popular" title="Most Voted Snippets">Popular</a></li>
        <li><a href="/comments" title="Snippets with Recent Comments">Comments</a></li>
        <!-- <li><a href="/edits" title="Snippets with New Edits">New Edits</a></li> -->
        <li><a href="/tags" title="Tag Cloud">Tags</a></li>
        <li><a href="/users" title="List of Users">Users</a></li>
    </ul>
    <div style="clear:both;"></div>    
</div>