{% extends "base.html" %}

{% block head %}
    <title>About - Android Snippets</title>
{% endblock %}

{% block main %}
    <h2>About AndroidSnippets.com</h2>
    
    <div style="margin:10px 2px; width:500px;">
    {% if info %}
    	<div class="ui-state-highlight ui-corner-all" style="padding: 8px 0px 0px .7em; margin-left:40px; margin-top:10px; width:200px; margin-bottom:20px;" id="error1">
    		<div class="ui-alert-dismiss"><a href="javascript:$('#error1').slideUp();" title="Dismiss this alert">x</a></div>    		 
    		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .4em;"></span>{{ info }}</p>
    	</div>
    {% endif %}

        <p>AndroidSnippets is a community driven website for finding, exploring, sharing and improving
        source code snippets for Android. 
        </p>

        <p><h3>Reputation Points</h3></p>
        <p>Reputation points are a rough indicator
        of a user's contributions to the snippet collection. They can be gained by:
        </p>
        <p><ol>
            <li>submitting a snippet</li>
            <li>upvotes on one of your snippets</li>
        </ol>
        <p></p>
        </p>

        <p><h3>Licenses</h3></p>
        <p>Every submitter of a code snippet agrees to the <a href="/about/tos">terms
        of service</a>, which allow everyone to reuse and modify the snippet without any 
        current or future restrictions.</p>

        <!--<p>The source code of this website is hosted on 
        <a href="https://github.com/metachris/androidsnippets.com">github</a> and released under the AGPL.</p>
        <p><h3>Feedback</h3></p>-->
        
        <p><h3>Feedback</h3></p>
        <p>Let us know if you have any feedback, ideas or comments! 
        </p>
        
        <p><form action="/about" method="post">
        <p>
            <textarea name="msg" rows="10" cols="60"></textarea>
        </p>
        {% if not prefs %}Email:<br>
        <input type="text" name="email" />
        {% endif %}
        </p>
        <input type="submit" />
        </form></p>

      
    </div>
{% endblock %}