{% extends "base.html" %}

{% block head %}
    <title>Account Recovery - Android Snippets</title>
{% endblock %}

{% block scripts %}
	<script> 
        $(document).ready(function() {
        });
	</script>
{% endblock %}

{% block main %}

<h1>Account Recovery</h1>

<div style="width:500px; margin:10px 2px;">
You can recover your previous account from androidsnippets.org with all
the associated snippets. We are working on an automated process, please
send an email to chris at androidsnippets.com until it
is in place, and we will do it for you.

</div>
{% endblock %}