{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block scripts %}
	<script> 
        $(document).ready(function() {
        });
	</script>
{% endblock %}

{% block main %}
    <style type="text/css">
        ol { margin:20px 20px; }
        li { padding: 1px 4px; }
    </style>

<h1><a href="/admin">Admin Interface</a></h1>

<ol>
    <li><a href="/admin/stats">stats</a></li>
    <li><a href="/admin/revision">revisions</a></li>
    <li><a href="/admin/mapsnippets_post">map entities from a user to another user</a></li>
    <li><a href="/admin/rels">rebuild relations</a></li>
</ol>
{% endblock %}