{% extends "_html5.html" %}

{% block header %}
    <div id="header">
                <div style="float:right; text-align:right;">
                    <form action="/search">
                    <div class='search'><input type='text' name='q' title='enter a search term and press enter' value="{{ q }}" /></div>
                    <div class='headinfos'>
                        {% if prefs %}
                            <a href="/profile" class='nick'>{{ prefs.nickname }}</a> <span class='rep'>{{ prefs.points }}</span>
                        {% else %}<b><a href='/login'>sign in</a></b> 
                        {% endif %}
                        <span class='separator'>|</span> 
                        <a href='/about'>about</a> 
                        {% comment %}{% if prefs %}<a href='/logout'>Sign out</a>{% endcomment %}
                    </div>
                    </form>
                    <div style="clear:both;"></div>
                    <br />
                    
                    <p><b><a href="/add">Add Snippet</a></b></p>
                </div>
                <div>
                    <a href="/"><img src="/images/logo.png" border="0" height="56" width="243" /></a>
                </div>
    </div>
{% endblock %}

{% block footer %}
<div id="footer">
    {% include "footer.html"%}
</div>

{% block feedback %}
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "androidsnippets";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#30587C";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
{% endblock %}

{% endblock %}

