<div class="comment comment{{ depth }}" style="margin-left:{{ depth }}0px;">
<a name="{{ comment.key }}"></a>
<table><tr><td>
    <a href="/users/{{ comment.userprefs.nickname }}" title="{{ comment.userprefs.nickname }}"><img src="http://www.gravatar.com/avatar/{{ comment.userprefs.email_md5 }}?s=24" width="24" height="24" /></a>
</td><td>
    <div class="author"><a href="/users/{{ comment.userprefs.nickname }}" title="{{ comment.userprefs.nickname }}">{{ comment.userprefs.nickname|truncate_chars:20 }}</a></div>
    <div class="body">
        {{ comment.comment_md|safe }}
    </div>
    <div class="actions">
        <!--<a href="#">Like</a> · --><a href="javascript:comment_reply('{{ comment.key }}')">Reply</a>
        {% if prefs.level > 60 %} · <a href="/admin/comment/{{ comment.key }}">admin</a>{% endif %}
         · <span style="color:#888;">{{ comment.date_submitted|date }}</span>
    </div>
    <div id="reply{{ comment.key }}"></div> <!-- Populated by javascript -->
</td></tr></table>
</div>