{% extends "base.html" %}

{% block head %}
    <title>My Profile - Android Snippets</title>
{% endblock %}

{% block scripts %}
    <script>
    $(function() {
        $("#tabs").tabs({% if tab2 %}{ selected:1 }{% endif %});
		$(".btn_small").button();        

	    $("#about").wmd({
	        "preview": true,
	        "helpLink": "http://stackoverflow.com/editing-help",
	        "helpHoverTitle": "Markdown Help",
	    });
    });
    </script>
{% endblock %}

{% block main %}
    <div style="float:left;">
    <h1>My Profile</h1>
    <small style="color:gray;">{{ prefs.nickname }}<br> (<a href="/users/{{ prefs.nickname }}">public profile</a> | <a href="/logout">sign out</a>)</small>
    </div>
    {% if error %}
    	<div class="ui-state-error ui-corner-all" style="padding: 8px 0px 0px .7em; margin-left:40px; margin-top:10px; width:200px; float:left;" id="error1">
    		<div class="ui-alert-dismiss"><a href="javascript:$('#error1').slideUp();" title="Dismiss this alert">x</a></div>    		 
    		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .4em;"></span>{{ error }}</p>
    	</div>
    {% endif %}
    {% if info %}
    	<div class="ui-state-highlight ui-corner-all" style="padding: 8px 0px 0px .7em; margin-left:40px; margin-top:10px; width:200px; float:left;" id="error1">
    		<div class="ui-alert-dismiss"><a href="javascript:$('#error1').slideUp();" title="Dismiss this alert">x</a></div>    		 
    		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .4em;"></span>{{ info }}</p>
    	</div>
    {% endif %}
    <div style="clear:both;"></div>
    
    <div id="tabs" style="margin:20px 10px;">
    	<ul>
    		<li><a href="#tabs-1">Snippets</a></li>
    		<li><a href="#tabs-5">Comments</a></li>
    		<!--<li><a href="#tabs-2">Notifications</a></li>-->
    		<!--<li><a href="#tabs-3">Edits</a></li>-->
    		<li><a href="#tabs-4">About</a></li>
    	</ul>
    	<div id="tabs-1">
            <div style="" id="snippetlist">
                {% include "snippet_list_items.html" %}
            </div>            
    	</div>
    	<div id="tabs-5">
            <p><ul>
    	       {% for comment in prefs.snippetcomment_set %}
    	           <li><a href="/{{ comment.snippet.slug1 }}#{{ comment.key }}">{{ comment.snippet.title }}</a></li>
	           {% endfor %}
    	   </ul></p>
    	</div>
    	<div id="tabs-4">
            <p>     
            <form action="/profile" method="post">
            <input type="hidden" name="update" value="about" />
            <table class="padX">
                <tr><td><a href="http://gravatar.com">Gravatar</a></td><td><a href="http://gravatar.com"><img src="http://www.gravatar.com/avatar/{{ prefs.email_md5 }}?s=20" /></a></td></tr>
                <tr><td>Nickname</td><td>
                    <input type="text" name="nickname" value="{{ prefs.nickname }}" />
                    {% if error2 %}<small style="color:gray;">Only your own email is permitted as username</small>{% endif %}                    
                </td></tr>
                <tr><td>Email</td><td>
                    {% if prefs.email_new %}
                       <input type="text" name="email" value="{{ prefs.email_new }}" />
				        <span class="ui-icon ui-icon-info" title="Verification email was sent to {{ prefs.email_new }}" style="margin-right: .3em; display:inline; padding-right:16px;"></span> 
				    {% else %}
                        {% if prefs.email %}
                           <input type="text" name="email" value="{{ prefs.email }}" />
    					   <span class="ui-icon ui-icon-check" title="Email address is verified" style="margin-right: .3em; display:inline; padding-right:16px;"></span>
    				    {% else %} 
                           <input type="text" name="email" value="" />
					        <span class="ui-icon ui-icon-alert" title="Please add and confirm your email address" style="margin-right: .3em; display:inline; padding-right:16px;"></span> 
                        {% endif %}         				     
                    {% endif %}     
                </td></tr>
                <!--<tr><td>Twitter</td><td><input type="text" name="twitter" value="{{ prefs.twitter }}"/></td></tr>-->
                <tr><td>About</td><td><textarea name="about" id="about" rows="12" cols="65">{{ prefs.about }}</textarea></td></tr>
                <tr><td></td><td><input type="submit" value="Apply" class="btn_small" /></td></tr>
            </table>    
            </form>
            </p>
    	</div>
    	<!--<div id="tabs-2">
            <p style="padding-top:10px;">
            Send me an email when
            <form action="/profile" method="post">
            <input type="hidden" name="update" value="notifications" />
            <table class="padX">
                <tr><td><input type="checkbox" name="n0" value="1" {{ prefs.notifications|is_notification:1 }} id="n1" /></td><td><label for="n1">Someone suggest an edit on one of my snippets</label></td></tr>
                <tr><td><input type="checkbox" name="n1" value="1" {{ prefs.notifications|is_notification:2 }} id="n2" /></td><td><label for="n2">Someone comments on one of my snippets</label></td></tr>
                <tr><td><input type="checkbox" name="n2" value="1" {{ prefs.notifications|is_notification:4 }} id="n3" /></td><td><label for="n3">Someone comments on any snippet i've commented on</label></td></tr>
                <tr><td><input type="checkbox" name="n3" value="1" {{ prefs.notifications|is_notification:8 }} id="n4" /></td><td><label for="n4">Someone edits or comments on a snippet i follow</label></td></tr>
                <tr><td colspan='2'></td></tr>
                <tr><td colspan='2'><input type="submit" value="Apply" class="btn_small" /></td></tr>
            </table>    
            </form>
            </p>
    	</div>-->
    </div>
{% endblock %}