{% for snippet in snippets %}
<div class="snippet{% if forloop.first %} first{% endif %}">
    <div class="props">
        <a class="a-votes" href="/{{ snippet.slug1 }}">
            <div class="votes"><div class="count">{{ snippet.upvote_count }}</div><div>votes</div></div>
        </a>
        <a class="a-comments" href="/{{ snippet.slug1 }}#comments">
            <div class="comments"><div class="count">{{ snippet.comment_count }}</div><div>comments</div></div>
        </a>    
    </div>
    <div class="info">
        <h2><a href="/{{ snippet.slug1 }}">{{ snippet.title }}</a></h2>
        <div class="activity">{{ snippet.date_lastactivity|timesince }} ago · <a href="/users/{{ snippet.nickname }}">{{ snippet.nickname }}</a></div>
        <div class="tags">{% for tag in snippet.tags %}<a href="/tags/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
    </div> 
    <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>
{% endfor %}
