<table class="snippetlist">
       <tr><th>edit on</th><th><big style="color:green;">+</big></th><th>edits</th><th>last activity</th></tr>    
       {% for snippet in snippets %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td><a href="/{{ snippet.slug1 }}">{{ snippet.title }}</a></td>
            <td>{{ snippet.upvote_count }}</td>
            <td>{% if snippet.proposal_count %}{{ snippet.proposal_count }}{% endif %}</td>
            <td>{{ snippet.date_lastactivity|timesince }} ago</td>
        </tr>
    {% endfor %}
</table>
