{% extends "base.html" %}

{% block head %}
    <!--<link href="/css/prettify.css" type="text/css" rel="stylesheet" />-->
    <link rel="stylesheet" href="/css/jquery-ui-flick.css?v=2">    
    <link rel="stylesheet" href="/css/highlight.css?v=2">
    <link rel="stylesheet" href="/css/tipTip.css?v=2">    
    <link type="text/css" rel="stylesheet" href="/css/openid.css" /> 
    <!--<link rel="stylesheet" href="/css/datatable.css?v=2">-->    
    <!--<link href="/css/sh_style.css" type="text/css" rel="stylesheet" />-->
    
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <!--<script src="/js/libs/showdown.js"></script>-->
    <script type="text/javascript" src="/js/libs/openid-en.js"></script>
    
<!--    <script type="text/javascript" src="/js/libs/prettify.js"></script>
-->

    <script src="/js/libs/shCore.js"></script>
    <script src="/js/libs/shBrushJava.js"></script>
    <!--<script src="/js/libs/jquery.dataTables.min.js"></script>-->


<!--
    <script src="/js/libs/sh_main.js"></script>
    <script src="/js/libs/sh_java.min.js"></script>
-->

    <script>
    $(document).ready(function() {
        //prettyPrint(); 
        dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
        dp.SyntaxHighlighter.HighlightAll('code');
        
        // http://shjs.sourceforge.net/
        // sh_highlightDocument();

		$(".btn").button();
		$(".btn_small").button();
		
        $(".tip").tipTip({defaultPosition:"bottom", maxWidth:"140px"});

        //$("#editbox").animate({marginLeft: parseInt($("#editbox").css('marginLeft'),10) == 0 ? $("#editbox").outerWidth() : 0});                    
        //$("#dialogtable").dataTable();
        
        // showdown
        /*
        var converter = new Attacklab.showdown.converter();
        var html = converter.makeHtml($("#view_description").html().replace("&gt;", ">"));
        //alert(html);
        $("#view_description_md").html(html);
        */
      	openid.init('openid_identifier');
        
        {% if openedit %}toggle_ui_to_editor();{% endif %}
    });
    
    var dialog_shown = false;
    function toggle_revisions() {
        if (dialog_shown) {
            $("#dialog").dialog("close");
        } else {
            $("#dialog").dialog({position:[300, 60], minWidth:380, beforeClose: function(event, ui) { dialog_shown = false; }});
            dialog_shown = true;
        }
    }

    function show_dialog_signin(continue_to) {
        $("#continue_to").val(continue_to);
        $("#dialog_signin").dialog({
            position:["center", 160], 
            width:600, 
            beforeClose: function(event, ui) { dialog_siginin_shown = false; },
      
        });
    }
        
    var editWindow;
    function show_edit(id) {        
        if (editWindow && !editWindow.closed) 
            editWindow.location = "/{{ snippet.slug1 }}/edit/" + id;
        else
            // opens a new window with the edit
            editWindow = window.open("/{{ snippet.slug1 }}/edit/" + id,'mywin',
            'left=20,top=20,width=600,height=500,toolbar=0,location=0,resizable=0,menubar=0,status=0');   
    }
    
    var upvotes = {{ snippet.upvote_count }};
    function vote() {
        $.ajax({
            url: "/{{ snippet.slug1 }}/vote",
            success: function(){
                $("#vote_count").html("<em>" + (upvotes+1) + "</em>");
                $("#snippet_points .vote").html('<span class="teaser">voted</span>');
            }
        });
    }

    function toggle_ui_to_editor() {
        {% if prefs %}_toggle_ui_to_editor(){% else %}show_dialog_signin("/{{ snippet.slug1 }}?edit=1");{% endif %}
    }

    function follow_snippet() {
        {% if prefs %}_follow(){% else %}show_dialog_signin("/{{ snippet.slug1 }}/follow");{% endif %}
    }
    </script>
{% endblock %}

{% block main %}
<div id="snippet_view">
<form action="/{{ snippet.slug1 }}/edit" method="post">
<div style="height:36px;">
            <h1>
                <div style="display:none;" id="edit_title"> <input  name="title" id="title" type="text" style="width:97%;" value="{{ snippet.title }}" /></div>
                <a id="view_title" href="/{{ snippet.slug1 }}">{{ snippet.title }}</a>
            </h1>
</div>

            <div class="sidebar">
                <div style="text-align:center; float:right; padding-top:2px; margin-right:10px;">
                    <p><a href="javascript:follow_snippet()" class="btn_small tip" title="<p>Receive emails on updates and/or comments</p>">Follow</a></p>
                    <p><a href="javascript:toggle_ui_to_editor()" id="btn_edit" class="btn_small">Edit</a></p>
                </div>            

                <div id="snippet_points">
                    <div class="votes" id="vote_count"><em>{{ snippet.upvote_count }}</em></div>
                    <div class="vote">
                        {% if voted %}
                            <span class="teaser">voted</span>
                        {% else %}
                            {% if prefs %}
                            <a class="teaser" href="javascript:vote()" title="Give this snippet a point!">vote</a>
                            {% else %}                            
                            <a class="teaser" href="javascript:show_dialog_signin('{{ snippet.slug1 }}/vote')" title="Give this snippet a point!">vote</a>
                            {% endif %}
                        {% endif %}
                        <!--<div class="teaser">
                            <a href="" title="Give this snippet a point!"><img src="/images/thumb_up.gif" /></a>
                            <a href="" title="Give this snippet a point!"><img src="/images/thumb_down.gif" /></a>
                        </div>-->
                    </div>
                </div>

                <div style="clear:both;"></div>

            <div id="editbox" style="display:none;">
            
                <div style="text-align:right; padding-top:2px; margin-right:10px;">
                    <p><a href="javascript:preview()" class="btn_small" title="">Preview</a></p>
                    <p><input type="submit" id="btn_publish" class="btn_small" value="Submit" /></p>
                </div>            
                <div style="clear:both; margin-bottom:20px;"></div>
                
                <h3>Markdown Syntax</h3>
            </div>
            
                <hr>            

                <p title="Compatible Android versions" ><img src="/images/android_icon.png" style="float:right;"/> SDK: {{ snippet.android_minsdk }}</p>
                <p>Tags: {{ snippet.tags }}</p>

                </p> 
                <hr>
                <p><b>Editors</b></p>
                <p>
                    {% for rev in accepted_revisions %}
                        <a href="/authors/{{ rev.userprefs.nickname }}" title="{{ rev.userprefs.nickname }}"><img src="http://www.gravatar.com/avatar/{{ rev.userprefs.email_md5 }}?s=20" /></a>
                    {% endfor %}
                </p>

                <hr>            

                <p><b>Snippets Stats</b></p>
                    <p>This snippet has been viewed <b>{{ snippet.views }}</b> times, it was edited <b>{{ snippet.update_count }}</b> times
                    and has <b>{{ snippet.snippetfollow_set.count }}</b> followers.

                <hr>
                <p><b>Related Snippets</b></p>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
.<br>
                </p>
            </div>

<div>            
            
            <div class="envelope">            
                <p id="view_description">{{ desc_md }}</p>            
                <div style=" display:none;" id="edit_description">
                    <div><textarea style="width:98%;" rows="14" id="desc" name="description">{{ snippet.description }}</textarea></div>
                    <div style="padding-left:4px; margin-bottom:4px; color:gray;"><small>markdown suppored</small></div>
                </div>            
                
                <div id="subtitle">
                    <div style="float:right; padding-right:6px;">Last edit {{ snippet.date_lastupdate|date }}</div> 
                    {% if revisions.count %}<a href='javascript:toggle_revisions()'>{{ revisions.count }} edit{{ revisions.count|pluralize }} for review</a>{% endif %}
                </div>
            </div>

            <div id="code">
                <pre name="code" class="java">{{ snippet.code|escape }}</pre>
            </div>
            <div style="overflow:hidden; display:none;" id="edit_code">
                <div><textarea style="width:98%; padding:4px;" rows="28" id="input_code" name="code">{{ snippet.code }}</textarea></div>
                <div style="margin-top:20px;">
                    <a href="#" class="btn_small">Preview</a>
                    <a href="#" class="btn_small">Publish</a>
                </div>                
            </div>                
 
</div>

<div id="comments">
    <h2>{% if snippet.snippetcomment_set.count %}{{ snippet.snippetcomment_set.count }} Comments{% else %}Be the first to comment{% endif %}</h2>

    <div id="comment_thread"></div>
</div>

</form>
</div>



<div id="dialog" title="Snippet Revisions" style="display:none;">
	<p>
	   <table id="dialogtable">
	   <thead>
	       <tr><th></th><th>Editor</th><th>submitted</th><th>+</th><th>-<th></tr>
       </thead>
       <tbody>
	       {% for rev in revisions %}
	           <tr onclick='javascript:show_edit("{{ rev.key }}");'><td><!--{{ forloop.counter }}--></td><td>{% ifequal prefs.user rev.userprefs.user %}you{% else %}{{ rev.userprefs.nickname }}{% endifequal %}</td><td>{{ rev.date_submitted|timesince }} ago</td><td>{{ rev.snippetrevisionupvote_set.count }}</td><td>{{ rev.snippetrevisiondownvote_set.count }}</td></tr>
	       {% endfor %}
       </tbody>
	   </table>
	</p>
</div>

{% if not userprefs %}
<div id="dialog_signin" title="Sign In" style="display:none;">
	<!-- Simple OpenID Selector --> 
	<form action="/login" method="get" id="openid_form"> 
		<input type="hidden" name="action" value="verify" />
		<input type="hidden" name="continue" id="continue_to" value="/{{ snippet.slug1 }}/vote" />
		<fieldset> 
			<legend>Sign-in or Create New Account</legend> 
			<div id="openid_choice"> 
				<p>Please click your account provider:</p> 
				<div id="openid_btns"></div> 
			</div> 
			<div id="openid_input_area"> 
				<input id="openid_identifier" name="openid_identifier" type="text" value="http://" /> 
				<input id="openid_submit" type="submit" value="Sign-In"/> 
			</div> 
			<noscript> 
				<p>OpenID is service that allows you to log-on to many different websites using a single indentity.
				Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
			</noscript> 
		</fieldset> 
	</form> 
	<!-- /Simple OpenID Selector -->
{% endif %} 
</div>

{% endblock %}