{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/tipTip.css?v=2">
    <link rel="stylesheet" type="text/css" href="/css/wmd.css" />     
{% endblock %}

{% block scripts %}    
    <script src="/js/libs/wmd.js"></script>
    <script src="/js/libs/jquery-wmd-plugin.js"></script>
    <script>
    $(document).ready(function() {
		$( ".btn" ).button();
		$( ".btn_small" ).button();

		$("input#autocomplete").autocomplete({
            source: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"]
        });
        
        //$(".tip").tipTip({defaultPosition:"right"});

		$( "select" ).combobox();
		//$("#title").focus();
		
	    $("#desc").wmd({
	        "preview": false,
	        "helpLink": "http://daringfireball.net/projects/markdown/",
	        "helpHoverTitle": "Markdown Help",
	    });
		
    });
    </script>
{% endblock %}

{% block main %}			
<div id="snippet_new" style="margin:auto; width:800px;">
<h1>Add a new snippet</h1> 

<form action="/add" method="post" style="margin-top:20px;">
<table><tr>
<td class="c1">
{% if errors %}
				<div class="ui-state-error ui-corner-all" style="padding: 8px 0px 0px .7em; margin-bottom:10px;" id="error1">
    				<div class="ui-alert-dismiss"><a href="javascript:$('#error1').slideUp();" title="Dismiss this alert">x</a></div>
    				 
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					Please add {% for error in errors %}{% if forloop.last %}{% if not forloop.first %} and {% endif %}{% else %}{% if not forloop.first %}, {% endif %}{% endif %}{{ error }}{% endfor %}
					</p>
				</div>
{% endif %}
    <p><b class="inputinfo">Title</b><br>
    <input type="text" name="title" id="title" class="tip input" value="{{ title }}" title="A precise title makes it easy for others to find this snippet." /></p>
    <script>document.getElementById('title').focus();</script>
    
    <p style="margin-top:20px;">
    
    <div><b class="inputinfo">Description</b></div> 
    <textarea name="description" id="desc" cols="60" rows="10" class="tip input" title="A few words describing this snippet, and enough space for references. Markdown is supported.">{{ description }}</textarea>
    <br>
    </p>

    <p style="margin-top:20px;"><b class="inputinfo">Snippet</b><br />
    <textarea id="input_code" name="code" cols="70" rows="20" class="tip input" title="Paste the code in here. Everything in this box will be syntax-highlighted.">{{ code }}</textarea>
    </p>

    <hr>
    <b class="inputinfo">Tested with</b><br>
        <div style="margin-top:4px;">
        <select name="version" size="0">
            <option value="3">Android 1.5+ (API 3)</option>
            <option value="4">Android 1.6+ (API 4)</option>
            <option value="7">Android 2.1+ (API 7)</option>
            <option value="8">Android 2.2+ (API 8)</option>
        </select>
        </div>

    <br>
    <div id="addtag">
        <b class="inputinfo">Tags</b><br>
        <input type="text" name="tags" id="autocomplete" class="input" /> 
        <a href="#" class="btn_small">Add</a>
    </div>
    <div id="taglist"></div>

</td><td class="c2">

       <p><input type="button" class="btn_small" style="width:140px;" onclick="preview()" value="Preview" /></p>
        <p><input type="submit" class="btn_small" style="width:140px;" value="Submit Snippet" /></p>
    
    <div id="markdown_info">
<p><h3>Markdown Format</h3></p>

<p>put returns between paragraphs</p>
<p>for linebreak add 2 spaces at end</p>
<p>_<i>italic</i>_ or <b>**bold**</b></p>
<p>indent code by 4 spaces</p>
<p>backtick escapes `like _so_`</p>
<p>quote by placing > at start of line</lip
<p><p>to make links:</p>
<div style="padding-left:10px;"><p>http://foo.com</p>
<p>[foo](http://foo.com)</p>
<p>&lt;a href="http://foo.com">foo</a></p>
</p></div>

</div>    
</tr></table>    
</form>   
</div>
{% endblock %}