{% extends "base.html" %}

{% block head %}
    <title>{{ title }} - Android Snippets</title>
    <meta name="description" content="{{ title }} on Android Snippets, a community driven website 
    to share, explore and improve code snippets for the Android platform." />     
{% endblock %}


{% block main %}
    <h2>{{ title }}</h2>
    
    <div style="" id="snippetlist">
    {% include "snippet_list_items.html" %}

    <div style="clear:both;"></div>
    <div style="margin-top:10px; padding-right:6px;">
    <small>
        {% for p in pages %}
            <a href="?p={{ p }}">{{ p }}</a> 
        {% endfor %}
        {{ page }}
        ·
        <a href="?p={{ page|add:1 }}">next page</a>
    </small>
    </div>
    </div>
{% endblock %}