{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/highlight.css?v=2">
{% endblock %}

{% block scripts %}
    <script src="/js/libs/shCore.js"></script>
    <script src="/js/libs/shBrushJava.js"></script>
    
    <script>
    $(document).ready(function() {
    	dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
        dp.SyntaxHighlighter.HighlightAll('code');
    });
    </script>
{% endblock %}

{% block main %}
<h1>{{ snippet.title }}</h1> 

            <p>{{ snippet.description }}</p>
<table width="100%">
    <tr>
        <td valign="top">
            <pre name="code" class="java">{{ snippet.code }}</pre>
            <div style="margin-left:44px; color:#888;">
                Authors: <a href="/authors/{{ user.nickname }}"><img src="http://www.gravatar.com/avatar/{{ prefs.email_md5 }}?s=16" /></a> <br>
                Last edited {{ snippet.date_lastupdate|timesince }} ago
            </div> 
        </td>
        <td width="220px">
        <div style="padding-left:20px;  margin-left:20px; border-left:1px solid lightgray; margin-top:30px;">
<div id="snippet_points">
    <div class="votes"><em>2</em>points</div>
    <div class="vote">
        
            <a class="teaser" href="" title="Give this snippet one point">vote</a>
        
    </div>
</div>            
<hr>            
            <p>Android 1.5+</p>
            <p>Tags: Internet, System</p>
<hr>            
            <p>Revision: {{ snippet.revision_set }}</p>
            <p>Suggestions: 0</p>
            <a href="#">Suggest an improvement</a>
            <hr>
            <p>Related snippets:</p>
        </div>
        </td>
    </tr>
</table>

<div id="comments">
    <h2>{{ snippet.snippetcomment_set.count }} Comments</h2>

    <div id="comment_thread"></div>
</div>
{% endblock %}