{% extends "base.html" %}

{% block head %}
    <title>Tag Cloud - Android Snippets</title>
{% endblock %}

{% block scripts %}
	<script> 
        $(document).ready(function() {
        });
	</script>
{% endblock %}

{% block main %}

<h1>Tags</h1>

<div class="tagcloud">
    {% for tag,cnt in tags %}
        {% if cnt > 1 %}
        <span style="padding-right:4px; font-size:{{ cnt|mkSize:max_cnt }}px;" title="{{ cnt }} snippets"><a href="/tags/{{ tag }}">{{ tag }}</a></span>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}