{% extends "base.html" %}

{% block head %}
    <title>Tag '{{ tag.name }}' - Android Snippets</title>
{% endblock %}

{% block main %}

<h1>Tag: <i>{{ tag.name }}</i></h1>

<div id="snippetlist">
       {% for tag in tags %}
<!-- copy from snippet_list_items.html. replace snippet.* with tag.snippet.* --> 
<div class="snippet{% if forloop.first %} first{% endif %}">
    <div class="props">
        <a class="a-votes" href="/{{ tag.snippet.slug1 }}">
            <div class="votes"><div class="count">{{ tag.snippet.upvote_count }}</div><div>votes</div></div>
        </a>
        <a class="a-comments" href="/{{ tag.snippet.slug1 }}#comments">
            <div class="comments"><div class="count">{{ tag.snippet.comment_count }}</div><div>comments</div></div>
        </a>    
    </div>
    <div class="info">
        <h2><a href="/{{ tag.snippet.slug1 }}">{{ tag.snippet.title }}</a></h2>
        <div class="activity">{{ tag.snippet.date_lastactivity|timesince }} ago · <a href="/users/{{ tag.snippet.userprefs.nickname }}">{{ tag.snippet.userprefs.nickname }}</a></div>
        <div class="tags">{% for tag in tag.snippet.snippettag_set %}<a href="/tags/{{ tag.tag.name }}">{{ tag.tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
    </div> 
    <div style="clear:both;"></div>
</div>
<div style="clear:both;"></div>

    {% endfor %}
</div>
{% endblock %}