{% extends "base.html" %}

{% block head %}
    <title>User '{{ profile.nickname }}' - Android Snippets</title>
{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function() {
        $("#tabs").show().tabs();
    });
    </script>
{% endblock %}

{% block main %}
    <h1><img src="http://www.gravatar.com/avatar/{{ profile.email_md5 }}?s=14" width="14" height="14" /> {{ profile.nickname }}</h1>
    <div style="padding-left:21px; color:gray; font-size:11px;">Member since {{ profile.date_joined|timesince }}<br>{{ profile.points }} reputation points 
    </div>
    
    <div style="padding:20px 10px;">
    <div id="tabs" style="margin-right:20px; display:none;">
    	<ul>
    		<li><a href="#tabs-1">Snippets</a></li>
    		<li><a href="#tabs-3">Comments</a></li>
    		<li><a href="#tabs-0">About</a></li>
    		<!--<li><a href="#tabs-2">Edits</a></li>-->
    	</ul>
    	<div id="tabs-0">
            <p>{{ profile.about_md|safe }}</p>
    	</div>
    	<div id="tabs-1">
            <div style="" id="snippetlist">
                {% include "snippet_list_items.html" %}
            </div>            
    	</div>
    	<div id="tabs-2">
            <p><ul>
    	       {% for revision in profile.snippetrevision_set %}
    	           {% if not revision.initial_revision %} 
    	               <li><a href="/{{ revision.snippet.slug1 }}">{{ revision.snippet.title }}</a></li>
    	           {% endif %}
	           {% endfor %}
    	   </ul></p>
    	</div>
    	<div id="tabs-3">
            <p><ul>
    	       {% for comment in profile.snippetcomment_set %}
    	           <li><a href="/{{ comment.snippet.slug1 }}#{{ comment.key }}">{{ comment.snippet.title }}</a></li>
	           {% endfor %}
    	   </ul></p>
    	</div>
    </div>
    
    </div>
{% endblock %}